@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0A0A07;
  color: #F5F0E8;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 200;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #0A0A07; }
::-webkit-scrollbar-thumb { background: #5C5746; }